{% extends "feed/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block cssfiles %}
{% endblock cssfiles %}
{% block searchform %}
    <form class="form-inline my-2 my-lg-0 ml-5" action="{% url 'search_posts' %}" method="get">
        <input name="p" type="text" placeholder="Search posts by tags..">
        <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">Search</button>
    </form>
{% endblock searchform %}
{% block content %}

    <style>
        .comment_input label {
            display: none;
        }
    </style>

    <!-- Min Container area -->
    <section class="min_container min_container_2">
        <div class="section_row">
            <div class="middle_section col">
                <!-- Post -->
                <div class="post post_details">
                    <div class="post_content">
                        <a href="#" class="post_img">
                            <img src="{{ post.pic.url }}" alt="">
                        </a>
                        <div class="post_heding_aea">
                            {#                            <a href="#" class="post_heding">Why Is It I Can Never Think Of Anything Good To Make For Supper</a>#}
                            <h4 class="by_author"><img src="{{ post.user_name.profile.image.url }}" alt=""
                                                       style="max-width: 30px" class="circle"><a
                                    href="#">{{ post.username }}</a> Posted on {{ post.date_posted }}</h4>
                        </div>
                        <div class="socail_share_area row">
                            <ul class="socail_share">
                                <li class="share_count">{{ post.likes.count }}K</li>
                                <li><a href="#" class="waves-effect"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#" class="waves-effect twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="plus_round"><i class="ion-plus-round"></i></a></li>
                            </ul>
                            <p>{{ post.description }}</p>
                            <label for="" class="badge">{{ post.tags }}</label>
                        </div>

{#                        <div class="socail_share_area row">#}
{#                            <ul class="socail_share">#}
{#                                <li class="share_count">{{ post.likes.count }}K</li>#}
{#                                <li><a href="#" class="waves-effect"><i class="fa fa-facebook-square"></i></a></li>#}
{#                                <li><a href="#" class="waves-effect twitter"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#" class="plus_round"><i class="ion-plus-round"></i></a></li>#}
{#                            </ul>#}
{#                        </div>#}
                    </div>

                    <div class="like_comment_area p0">
                        <div class="col s12 updown_btn updown_btn_2">
                            <button class="btn btn-white mr-3 like" id="{{ post.id }}">
                                {% if is_liked %}
                                    <a href="{% url 'post-like' %}" style="color:red;line-height: 37px" id="likebtn{{ post.id }}"> Unlike
                                        | {{ post.likes.count }}</a>
                                {% else %}
                                    <a href="{% url 'post-like' %}" style="color:green;line-height: 37px" id="likebtn{{ post.id }}"> Like
                                        | {{ post.likes.count }}</a>
                                {% endif %}
                            </button>

                            {% if post.user_name == user %}
                                <a class="btn btn-outline-info mr-3" href="{% url 'post-update' post.id %}">Update</a>
                                <a class="btn btn-outline-danger" href="{% url 'post-delete' post.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div><!-- End Post -->

                <!-- Post -->
                <div class="post post_details">
                    <div class="like_comment_area row">
                        <div class="col s12 updown_btn comment_c">
                            <a href="#"><i class="ion-ios-chatboxes-outline"></i></a>
                            <a href="#" class="count_n count_n_2">{{ post.details.all.count }} comments</a>
                        </div>
                        <div class="col s12 comment_input_box">


                            <form class="form-signin commentForm" name="commentForm" method="POST">
                                <div class="input-field comment_input">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    {#                                    <input placeholder="Placeholder" type="text" class="validate">#}
                                    <i class="ion-camera"></i>
                                    <span class="btnSubmit">Post</span>
                                </div>
                            </form>
                        </div>
                        <div class="col p0 s12">
                            {% if post.details.all %}
                                {% for detail in post.details.all %}
                                    <div class="media">
                                        <img src="{{ detail.username.profile.image.url }}" style="max-width: 30px"
                                             alt="" class="circle responsive-img">
                                        <div class="media_body">
                                            <h4><a href="#">{{ detail.username }}</a>{{ detail.comment_date }}</h4>
                                            <p>{{ detail.comment }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <a href="#" class="load_more">Load more comments</a>
                        </div>
                    </div>
                </div><!-- End Post -->
            </div>
            <!-- left side bar -->
            <div class="col">
                {% include "feed/left_sidebar.html" %}
            </div>
            <!-- Right side bar -->
            <div class="right_side_bar col">
                {% include "feed/right_sidebar.html" %}
            </div>
        </div>
    </section>
    <!-- End Min Container area -->


{% endblock content %}
{% block jsfiles %}

    <script>
        $(".btnSubmit").click(function () {
            {#alert('Hi');#}
            $('.commentForm').submit();
        });
    </script>
    <script>
        $(".like").click(function (e) {
            var id = this.id;
            var href = $('.like').find('a').attr('href');
            e.preventDefault();

            $.ajax({
                url: href,
                data: {
                    'likeId': id
                },
                success: function (response) {
                    if (response.liked) {
                        $('#likebtn' + id).html("Unlike | {{post.likes.count}}");
                        $('#likebtn' + id).css("color", "red")
                    } else {
                        $('#likebtn' + id).html("Like | {{post.likes.count}}");
                        $('#likebtn' + id).css("color", "green")
                    }
                }
            })
        });
    </script>
{% endblock jsfiles %}